* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  color: white;
  background-color: hsl(226, 43%, 10%);
}

main {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 254px 0;
}

.profile-nav-container {
  background-color: hsl(235, 46%, 20%);
  border-radius: 16px;
}

.profile-info {
  background-color: hsl(246, 80%, 60%);
  padding: 35px 93px 80px 25px;
  border-radius: 16px;
}

.profile-info img {
  border: 3px solid white;
  border-radius: 50%;
  width: 80px;
  margin-bottom: 38px;
}

nav {
  padding: 25px 0 35px 25px;
}

nav a {
  display: block;
  text-decoration: none;
  color: hsl(235, 45%, 61%);
}

nav a:hover {
  color: white;
}

.report-text {
  display: block;
  color: hsl(236, 100%, 87%);
  font-size: 15px;
  padding-bottom: 2px;
}

.profile-first-name, .profile-last-name {
  display: block;
  font-size: 40px;
  font-weight: 300;
}

.weekly-link {
  padding: 20px 0;
}

ul {
  list-style: none;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 255px);
  gap: 30px;
}

ul span {
  display: block;
}

li {
  border-radius: 16px;
  padding-top: 45px;
}

.timeframe-container {
  background-color: hsl(235, 46%, 20%);
  border-radius: 16px;
  padding: 28px 25px 32px;
}
.timeframe-container:hover {
  background-color: hsl(235, 45%, 61%);
}
.timeframe-container.ellipsis-hovered {
  background-color: hsl(235, 46%, 20%);
}

.category-title {
  font-weight: 500;
}

.category-current-value {
  font-size: 55px;
  font-weight: 300;
  padding-top: 25px;
  padding-bottom: 10px;
}

.category-previous-value {
  font-size: 15px;
  color: hsl(236, 100%, 87%);
}

.selected-timeframe {
  color: white;
}

.work-container {
  background-color: hsl(15, 100%, 70%);
  background-image: url("../images/icon-work.svg");
  background-repeat: no-repeat;
  background-position: 90% -10px;
}

.play-container {
  background-color: hsl(195, 74%, 62%);
  background-image: url("../images/icon-play.svg");
  background-repeat: no-repeat;
  background-position: 90% -6px;
}

.study-container {
  background-color: hsl(348, 100%, 68%);
  background-image: url("../images/icon-study.svg");
  background-repeat: no-repeat;
  background-position: 90% -10px;
}

.exercise-container {
  background-color: hsl(145, 58%, 55%);
  background-image: url("../images/icon-exercise.svg");
  background-repeat: no-repeat;
  background-position: 90% -2px;
}

.social-container {
  background-color: hsl(264, 64%, 52%);
  background-image: url("../images/icon-social.svg");
  background-repeat: no-repeat;
  background-position: 90% -15px;
}

.self-care-container {
  background-color: hsl(43, 84%, 65%);
  background-image: url("../images/icon-self-care.svg");
  background-repeat: no-repeat;
  background-position: 90% -10px;
}

.ellipsis-img {
  position: relative;
  top: 10px;
  float: right;
}
.ellipsis-img:hover {
  filter: brightness(0) invert(1);
}