* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  color: white;
  background-color: hsl(226, 43%, 10%);
}

main {
  display: flex;
  gap: 20px;
  margin: 254px 160px;
}

.profile-nav-container {
  background-color: hsl(235, 46%, 20%);
  border-radius: 16px;
}

.profile-info {
  background-color: hsl(246, 80%, 60%);
  padding: 35px 93px 80px 25px;
  border-radius: 16px;
}

.profile-info img {
  border: 3px solid white;
  border-radius: 50%;
  width: 80px;
  margin-bottom: 38px;
}

nav {
  padding: 25px 0 35px 25px;
}

nav a {
  display: block;
  text-decoration: none;
  color: hsl(235, 45%, 61%);
}

.report-text {
  display: block;
  color: hsl(236, 100%, 87%);
  font-size: 15px;
  padding-bottom: 2px;
}

.profile-first-name, .profile-last-name {
  display: block;
  font-size: 40px;
  font-weight: 300;
}

.weekly-link {
  padding: 20px 0;
}

ul {
  list-style: none;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(4, 1fr);
}

ul span {
  display: block;
}

li {
  padding-left: 20px;
}

.timeframe-container {
  background-color: hsl(235, 46%, 20%);
}

.category-title {
  font-weight: 500;
}

.category-current-value {
  font-size: 55px;
  font-weight: 300;
  padding-top: 25px;
  padding-bottom: 8px;
}

.category-previous-value {
  font-size: 15px;
  color: hsl(236, 100%, 87%);
}

.selected-timeframe {
  color: white;
}