@import './config';

main {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 254px 0;
}

.profile-nav-container {
    background-color: $neutral_navy_900;
    border-radius: 16px;
}

.profile-info {
    background-color: $primary_purple_600;
    padding: 35px 93px 80px 25px;
    border-radius: 16px;
}

.profile-info img {
    border: 3px solid white;
    border-radius: 50%;
    width: 80px;
    margin-bottom: 38px;
}

nav {
    padding: 25px 0 35px 25px;
}

nav a {
    display: block;
    text-decoration: none;
    color: $neutral_purple;
}

nav a:hover {
    color: white;
}

.report-text {
    display: block;
    color: $neutral_navy_200;
    font-size: 15px;
    padding-bottom: 2px;
}

.profile-first-name, .profile-last-name {
    display: block;
    font-size: 40px;
    font-weight: 300;
}

.weekly-link {
    padding: 20px 0;
}

ul {
    list-style: none;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 255px);
    gap: 30px;
}

ul span {
    display: block;
}

li {
    border-radius: 16px;
    padding-top: 45px;
}

.timeframe-container{
    background-color: $neutral_navy_900;
    border-radius: 16px;
    padding: 28px 25px 32px;

    &:hover {
        background-color: $neutral_purple;
    }

    &.ellipsis-hovered {
        background-color: $neutral_navy_900;
    }
}

.category-title {
    font-weight: 500;
}

.category-current-value {
    font-size: 55px;
    font-weight: 300;
    padding-top: 25px;
    padding-bottom: 10px;
}

.category-previous-value {
    font-size: 15px;
    color: $neutral_navy_200;
}

.selected-timeframe {
    color: white;
}

.work-container {
    background-color: $primary_orange;

    @include addBgImg("../images/icon-work.svg");
}

.play-container {
    background-color: $primary_blue;

    @include addBgImg("../images/icon-play.svg", -6px);
}

.study-container {
    background-color: $primary_pink;

    @include addBgImg("../images/icon-study.svg");
}

.exercise-container {
    background-color: $primary_green;

    @include addBgImg("../images/icon-exercise.svg", -2px);
}

.social-container {
    background-color: $primary_purple_700;

    @include addBgImg("../images/icon-social.svg", -15px);
}

.self-care-container {
    background-color: $primary_yellow;

    @include addBgImg("../images/icon-self-care.svg");
}

.ellipsis-img {
    position: relative;
    top: 10px;
    float: right;

    &:hover {
        filter: brightness(0) invert(1);
    }
}